<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8" />
<style>

body{
    background-color: rgb(86, 143, 124);
}



   /*---------------------début de la navbar--------------------------*/
   .fieldset /* pour la navbar*/
{
display: inline-block;
background: #222222;
margin: 0 auto;
height:150;
text-align: right;
position: sticky;
display: inline-block; /* pour avoir un bloc arrondie qui s'adapte*/
border-radius: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  } 
  li {
    float: left;
  } 
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 
  li a:hover {
    background-color: #111;
  }
/*----------------------------fin de la navbar-------------------------------*/



.twosvg
{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(180deg);
}
.onesvg
{
    
    position: absolute;
    bottom: 0;
    right: 0;
}

.threesvg
{
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(270deg);

}
.foursvg{
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
 
}



</style>
</head>
<body>

    <section>
        <div class="container">
            <div class="background-img">
            <div class="box">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
        <center><fieldset class="fieldset"><!--pour centrer avec un rectangle voir navbar-->
            <nav>
            <ul>
                <li><a href="#home">crée Utilisateur</a></li>
                <li><a href="a propos.html.twig">lister utilisateur</a></li>
                <li><a href="fichier.html.twig">mes fichiers</a></li>
                <li><a href="ajout.html.twig">Ajouter fichier</a></li>
                <li><a href="formulaire.html.twig">Connexion</a></li>
            
            </ul>
            </nav>
            </fieldset> 
        </center>
    </div>
    
</div>
</div>

</section>
<!---------------------------------------------------------------------------------------------------------------------------->

<div class="twosvg">
    <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
          <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
          <stop stop-color="#53FFEE" offset="99.94%" />
        </linearGradient>
      </defs>
      <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
        opacity=".5" />
    </svg>
  </div>


  <div class="onesvg">
    <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
          <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
          <stop stop-color="#53FFEE" offset="99.94%" />
        </linearGradient>
      </defs>
      <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
        opacity=".5" />
    </svg>
  </div>


  <div class="threesvg">
    <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
          <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
          <stop stop-color="#53FFEE" offset="99.94%" />
        </linearGradient>
      </defs>
      <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
        opacity=".5" />
    </svg>
  </div>

  <div class="foursvg">
    <svg width="500" height="500" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient x1="50%" y1=".779%" x2="50%" y2="100%" id="a">
          <stop stop-color="#0989B4" stop-opacity="0" offset="0%" />
          <stop stop-color="#53FFEE" offset="99.94%" />
        </linearGradient>
      </defs>
      <ellipse fill="url(#a)" transform="rotate(-135 489 489)" cx="489" cy="489" rx="489" ry="488" fill-rule="evenodd"
        opacity=".5" />
    </svg>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

   
</body>
</html>